.pn-title {
    color: #500808;
}
.pn-title {
    margin: 0 0 30px 0;
    font-family: "Playfair Display", serif;
    border-bottom: 1px solid #b2b2b2;
    padding-bottom: 10px;
    position: relative;
    font-size: 38px;
}
.pn-title:before {
    content: "";
    position: absolute;
    height: 1px;
    background-color: #000;
    width: 120px;
    bottom: -1px;
    left: 0;
}
.pn-name-detail {
    color: #082950;
    font-size: 20px;
}
.pn-name {
    margin-bottom: 10px;
    display: block;
    font-weight: 500;
    font-size: 16px;
}
style attribute {
    text-align: justify;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
element.style {
    border-collapse: collapse;
    margin-left: 13.25pt;
    width: 90%;
}

table {
    background-color: transparent;
    border: 1px solid gray; /* Đặt giá trị border ở đây */
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
}
td {
    border: 1px solid gray; /* Thiết lập border cho mỗi ô */
    padding: 8px; /* Để làm cho nội dung không chạm vào viền */
}

div {
    display: block;
}
._56q9 {
    font-size: 14px;
    line-height: 1.358;
    word-break: break-word;
    word-wrap: break-word;
}
body.plugin {
    background: transparent;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.28;
    overflow: hidden;
    -webkit-text-size-adjust: none;
}
.plugin,
.plugin button,
.plugin input,
.plugin label,
.plugin select,
.plugin td,
.plugin textarea {
    font-size: 11px;
}

.pn-video {
    padding-right: 15px;
    width: 100%;
    float: left;
}
body {
    color: #000;
    background: #fff;
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}
.pn-news {
    width: 100%;

    padding-left: 15px;
}
.pn-share {
    clear: both;

    padding: 30px 25px;
    background-color: #fff4f3;
    overflow: auto;
}

.pn-share1 {
    clear: both;
    height: 700px; /* Điều chỉnh chiều cao thành 300px hoặc bất kỳ giá trị nào bạn muốn */
    padding: 30px 25px;
    background-color: #fff4f3;
    overflow: auto;
}
.pn-wrapper1 {
    white-space: nowrap; /* Ngăn chặn việc chữ xuống dòng */
}
.box {
    width: 100%;
    display: flex;
}
.boxleft {
    margin-left: 10px;
    flex: 3;
}
.boxright {
    flex: 1;
}
.pn-title a,
.pn-name {
    text-decoration: none; /* Loại bỏ gạch chân */
    color: #000;
    font-display: right;
    font-weight: bold;
}
